{% extends 'base.html.twig' %}

{% block title %}New Legende{% endblock %}

{% block body %}
    <h1>Create new Legende</h1>

    {{ include('legende/_form.html.twig') }}

    <a href="{{ path('app_legende_index') }}">back to list</a>
{% endblock %}
