.forme {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.forme input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forme button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
